.example-card {
    width: 370px;
    height: 390px;
    left: -40px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
  }
  
  /* navbar */
  .navbar {
    padding: 2px 0;
    width: 100%;
    height: auto;
    background-color: #673AB7;
     box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .logo,
  .nav {
    display: inline-block;
    padding-top: 10px;
    margin: 0;
    font-family: roboto;
    color:white;
  }
  .nav-right {
    float: right;
    line-height: 39px;
    padding-top: 25px;
    text-align: center;
  }
  
  
  
  /* responsive */
  @media screen and (max-width: 677px) {
    .container {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .age{
      padding-left: 30px;
  }
  .date{
      padding-top: 20px;
  }
  .quitday{
    padding-top: 10px;
  }
  .continents{
      padding-left: 20px;
  }
  .add-button{
      left: 130px;
  }

 .mainresult{
   text-align: center;
  }
.resulttext1{
  font-family: roboto;
  font-size: 30px;
}

.resulttext2{
  font-family: roboto;
  font-size: 50px;
  color: #F44336;
  right:50px;
  position: relative;
  left: 0px;
}

.resulttext3{
  font-family: roboto;
  font-size: 30px;
}
.helpbutton{
  color: white;
  background-color: #00C853;
}
